{% extends 'main/layout.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="login-page">
      <div class="form">
        <form class="register-form" method="post">
        {% csrf_token %}
<!--          <input name="form_name" type="text" placeholder="Имя"/>-->
<!--          <input name="form_password"  type="password" placeholder="Пароль"/>-->
<!--          <input name="form_email" type="text" placeholder="Электронная почта"/>-->
<!--          <a href="{% url 'profile' %}">СОЗДАТЬ</a>-->
<!--          <p class="message">Есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>-->
          {{ form.as_p }}
            <button type="submit">Создать</button>
        </form>
      </div>
    </div>
{% endblock %}